.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Word {
  text-align: center;
  color: red;
  margin: 150px auto;
  margin-bottom: 50px;
  justify-content: center;
  font-size: 150px;
  font-weight: 900;
}

.SpeakButton, .PlayButton {
  /* margin: 5px auto; */
  height: 100px;
  width: 200px;
}

.PlayButton {
  margin-left: 70px;
}

.Microphone, .PlayCircle {
  height: 50px;
  width: 50px;
}

.Phoneme {
  margin-bottom: 70px;
}

.PhonemeWord {
  font-size: 70px;
  font-weight: 400;
  color: gray;
}

.ParrotHome {
  font-size: 30px;
  font-weight: 450;
}

.VolumeUp{
  height: 40px;
  width: 40px;
}
